.home-container{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}


.title-main{
    font-weight: bold;
    font-size: 2rem;
    margin-top: 2rem;
}

.categories-container{
    display:flex;
    flex-flow: row wrap;
    justify-content: center;
}

.product-grid{
    display: flex;
    flex-flow: row wrap;
    margin: 2rem;
    justify-content: center;
    flex-grow: 1;
}

@media (max-width:800px){
    .category{
        padding: 0.5rem;
    }

    .home-container{
        margin: 0;
    }
}