.wishlist-pr-wrapper{
    background-color: white;
    padding: 1rem;
    border-radius: 1rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    width: 100vw;

}

.wishlist-product-container{
    display: flex;
    max-width: 50%;
    flex-flow: row wrap;
    padding: 1rem;
    border-radius: 1rem;
    margin: 2rem;
    background-color: #ececee;
    box-shadow:  11px 11px 22px #9fa4ad,
                 -7px -7px 22px #ffffff;
}

.wishlist-product-image{
    width:180px;
    height: 250px;
    border-radius: 1rem;
}

.wishlist-product-details-wrap{
    padding: 1rem;
    margin: 1rem;
}

.wishlist-name{
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.wishlist-price{
    font-weight: bold;
    font-size: 1.2rem;
}

.wishlist-owner{
    font-size: 0.9rem;
    color: gray;
    margin-bottom: 0.5rem;
}

@media (max-width:800px){
    .wishlist-product-container{
        max-width: 100%;
        justify-content: center;
    }

    .wishlist-pr-wrapper{
        padding: 0;
    }

    .wishlist-product-details-wrap{
        padding: 0;
    }
}