.category{
    background-color: #ececee;
    padding: 2rem;
    margin: 2rem;
    border-radius: 2rem;
    box-shadow:  11px 11px 22px #9fa4ad,
                 -7px -7px 22px #ffffff;
}

.img-category{
    max-width: 200px;
    max-height: 200px;
}

.category-title{
    font-weight: 600;
    padding: 1rem;
    font-size: 1.5rem;
    text-align: center;
}